.cells {
    display: flex;

    .cell {
        width: 36px;
        height: 36px;
        background-color: #EDF5FF;
    }


}

.estimate {
    .estimate_btn {
        width: 256px;
        height: 72px;
    }
}